.menu-container 
{
    background-color: rgb(34, 34, 107);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    margin-left: 20px;
    margin-right: 20px;
}

.three-column-container
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 10px;
    padding-top: 0;  
}

.column
{
  padding: 10px;
}

/*Robot Settings*/
.info-row 
{
    display: flex;
    margin-bottom: 8px;
    color: white
}

.info-label 
{
    width: 180px;
    font-weight: bold;
    text-align: left;
}

.info-value {
    flex: 1;
    text-align: right;
}

/*Table Styling*/
table
{
    border: 1px solid darkgray;
    padding: 5px;
    background-color: azure;
}

th
{
    border-bottom: 1px solid darkgray;
    padding: 10px;    
}

.td-queue
{   
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 10px;
    max-width: 150px;    
    overflow: auto;
}

.td-task
{
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    overflow: auto;
}

/*Buttons*/
.gridrow-controlButtons
{    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    margin: 10px;
}

.gridrow-taskButtons
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 10px;  
    margin-left: 5px;    
}

button
{
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
}

button:hover 
{
    background: #f0f0f0;
}

.button-Task
{
    height: auto;
    width: 100%;
}


/* arrow */
.arrow-container
{
    display: flex;
    flex-direction: column;
}

.button-arrow 
{
    width: 24px;
    height: 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: auto;
}

