.two-column-container
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px;       
}

.two-column-container2
{
    display: grid;
    grid-template-columns: 2fr 1fr;        
}

.column-colour
{
    margin: 10px;
    padding:10px;
    background-color: #1e40af;;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

.robot-setting-section
{
    background-color: olive;
    margin:10px;
}

.tableNew
{
    border: 1px solid darkgray;
    padding: 5px;
    background-color: transparent;
    margin:0;
    width: 100%;
    border-collapse: collapse;
}

th
{
    border-bottom: 1px solid darkgray;
    padding: 10px; 
}

.td-queue
{   
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 10px;
    max-width: 150px;    
    overflow: auto;
}

.td-queue-arrow
{
    padding-left: 10px;
    border-top: 1px solid darkgray;
}

.td-task
{
    border-bottom: 1px solid darkgray;
    text-align: center;
    padding: 10px;
    max-width: 300px;
    overflow: auto;
}


.gridrow-controlButtons2
{    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    margin-top: 30px;
}

.gridrow-taskButtons2
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;  
       
}

button
{
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
}

button:hover 
{
    background: #f0f0f0;
}

.button-Task2
{
    height: 25px;
    width: 100%;
    border-radius: 4px;
}


.button-Queue2
{    
    border-radius: 4px;
}

/* arrow */
.arrow-container
{
    display: flex;
    flex-direction: column;
}

.button-arrow 
{
    width: 24px;
    height: 15px;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: auto;
}

/*Robot Settings*/
.info-row 
{
    display: flex;
    margin-bottom: 8px;
    color: white;
}

.info-label 
{
    width: 180px;
    font-weight: bold;
    text-align: left;
}

.info-value {
    flex: 1;
    text-align: right;
}