.column
{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.flex-container
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;  
}



.region-select-dropdown
{
  padding: 5px; 
  width: 150px;

}

h3
{
  color: white;
}